/* Header
-------------------------------------------------- */
.site-header {
  width: 100%;
  height: 70vh;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin-bottom: 40px;
  background-attachment: fixed;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
  font-family: $secondary-font-family;
  z-index: 999;
}

.noimage .site-header {
  position: inherit;
  height: 120px;
  margin-bottom: 0;
}

.noimage .site-header .title-nav,
.noimage .site-header.dark .title-nav {
  position: fixed;
  width: 100%;
  background-color: $header-background-color;
}

.noimage .site-header .wrap,
.noimage .site-header.dark .wrap {
  border-bottom: none;
}

.home .site-header {
  height: 100vh;
  margin-bottom: 0;
  background-image: url('/images/default.jpg');
}

.site-header .wrap {
  width: 100%;
  padding: 0 5%;
}
@media (min-width: 1000px) {
  .site-header .wrap {
    padding: 0;
    border-bottom: 1px solid $header-text-color;
  }
}

.home .site-header .wrap {
  border: none;
}

.site-header.dark .title-nav {
  position: fixed;
  width: 100%;
  background-color: $header-background-color;
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.site-header.dark .wrap {
  border-bottom: none;
}

.title-area {
  margin: 0 auto;
  padding: 14px 0 0;
  text-align: center;
}
@media (min-width: 750px) {
  .title-area {
    float: left;
    width: 300px;
    margin-top: 2px;
    padding: 23px 0;
    text-align: left;
  }
}


.site-header.dark .title-area {
  padding: 14px 0 0;
}
@media (min-width: 750px) {
  .site-header.dark .title-area {
    padding: 14px 0;
  }
}

.home .title-area {
  float: none;
  width: 100%;
  margin-top: 25%;
  padding: 0;
}
@media (min-width: 1000px) {
  .home .title-area {
    margin-top: 15%;
  }
}

.site-title {
  margin-bottom: 0;
  font-size: 24px;
  line-height: 1.2;
  color: $header-text-color;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.22);
}

.home .site-title {
  font-size: 50px;
  margin-bottom: 25px;
  text-align: center;
}
@media (min-width: 550px) {
  .home .site-title {
    font-size: 60px;
  }
}

.home .site-description {
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.22);
  text-align: center;
}

.site-title a,
.site-title a:hover {
  color: $header-text-color;
  text-decoration: none;
  border: none;
}

.site-description {
  color: $header-text-color;
  font-size: 32px;
}

.header-image .site-title > a {
  background: url('images/logo.png') no-repeat left;
  float: left;
  min-height: 60px;
  width: 100%;
}

.header-image .site-title {
  display: block;
  text-indent: -9999px;
}

.archive-header {
  text-align: center;
  margin-bottom: 25px;
}
