/* Entry Content
-------------------------------------------------- */
.entry {
  margin-bottom: 40px;
}

.entry-header {
  text-align: center;
}

.entry-content {
  margin-top: 40px;
}

.entry-footer,
.archive-title {
  max-width: 760px;
  margin: 0 auto;
  padding: 0 20px;
}

.entry-title {
  max-width: 760px;
  margin: 0 auto;
  padding: 0 20px;
  color: #222;
}

.entry-title a {
  text-decoration: none;
  color: #333;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-content p,
.entry-content ul,
.entry-content ol,
.entry-content dl,
.entry-content .highlight,
.entry-content .gist,
.archive-description p {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.entry-content table {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
}

hr {
  width: 100px;
  margin: 40px auto;
  border-bottom: 1px solid #222;
}


/* Entry Meta
-------------------------------------------------- */
.entry-meta,
.post-info {
  clear: both;
  max-width: 760px;
  margin: 0 auto;
  padding: 0 20px;
  color: #666;
  font-size: 12px;
  letter-spacing: 1px;
}

.entry-meta a {
  color: #666;
  text-transform: capitalize;
}

.entry-meta a:hover {
  color: #8B99A0;
}

.entry-header .entry-meta {
  margin-bottom: 10px;
}

.entry-footer .entry-meta {
  border-top: 1px solid #dfdacc;
  margin: 10px -20px;
  padding: 12px 0 0;
}
@media (min-width: 1000px) {
  .entry-footer .entry-meta {
    margin: 0;
    padding: 10px 0 8px;
  }
}

.entry-categories,
.entry-tags {
  display: block;
}

.footnotes p:before {
  content: none;
}


/* iFrame Embeds
-------------------------------------------------- */
.iframe-embed {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto
}

.iframe-embed iframe,
.iframe-embed object,
.iframe-embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}


/* Widgets
-------------------------------------------------- */
.widget {
  word-wrap: break-word;
}

.widget ol > li {
  list-style-position: inside;
  list-style-type: decimal;
  padding-left: 20px;
  text-indent: -20px;
}

.widget li li {
  border: none;
  margin: 0 0 0 30px;
  padding: 0;
}


/* Alerts
-------------------------------------------------- */
.alert {
  max-width: 720px;
  margin: 0 auto 20px;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert h4 {
  margin-top: 0;
  color: inherit;
}

.alert > p,
.alert > ul {
  margin-bottom: 0;
}

.alert > p + p {
  margin-top: 5px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-success hr {
  border-top-color: #c9e2b3;
}

.alert-success .alert-link {
  color: #2b542c;
  text-decoration: underline;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info hr {
  border-top-color: #a6e1ec;
}

.alert-info .alert-link {
  color: #245269;
  text-decoration: underline;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-warning hr {
  border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
  color: #66512c;
  text-decoration: underline;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-danger hr {
  border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
  color: #843534;
  text-decoration: underline;
}


/* Pagination
-------------------------------------------------- */
.pagination {
  max-width: 760px;
  margin: 0 auto 25px;
  text-align: center;
  clear: both;
}
