/* Archives
-------------------------------------------------- */
.blog .one-half,
.archive .one-half {
  width: 100%;
}
@media (min-width: 35.7em) {
  .blog .one-half,
  .archive .one-half {
    width: 50%;
  }
}

.blog .entry-header,
.archive .entry-header {
  text-align: left;
}

.blog-teaser {
  display: block;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

a.blog-teaser:hover {
  text-decoration: none;
}

.blog .entry,
.archive .entry {
  position: relative;
  min-height: 350px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}

.blog h2 {
  margin-bottom: 6px;
  font-weight: bold;
  word-break: break-word;
}

.entry-excerpt {
  display: none;
}
@media (min-width: 19em) {
  .entry-excerpt {
    display: block;
    position: absolute;
    bottom: 20px;
    max-width: 90%;
    font-weight: bold;
  }
}
@media (min-width: 35.7em) {
  .entry-excerpt {
    display: none;
  }
}
@media (min-width: 47.6em) {
  .entry-excerpt {
    display: block;
  }
}
.blog .entry-meta,
.archive .entry-meta {
  padding: 0;
  color: #fff;
}

.archive-description h1 {
  text-align: center;
  text-transform: capitalize;
}

.archive hr {
  display: block;
  width: 100%;
  border: 0;
  border-top: 3px solid #2E3837;
  padding: 0;
}
