*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  display: -webkit-box; /* old prefixed for webkit */
  display: -webkit-flex; /* new prefixed for webkit */
  display: -ms-flexbox; /* prefixed for ie */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  font-size: 1.334em;
  // font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
  font-family: $primary-font-family;
  color: #222;
  text-rendering: optimizeLegibility;
}

::-moz-selection {
  background-color: #333;
  color: #fff;
}

::selection {
  background-color: #333;
  color: #fff;
}


/* Headings
-------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-family: $secondary-font-family;
}

h1 {
  font-size: 40px;
  line-height: 1.2;
}

h2 {
  font-size: 36px;
  line-height: 1.25;
}

h3 {
  font-size: 30px;
  line-height: 1.3;
}

h4 {
  font-size: 24px;
  line-height: 1.35;
}

h5 {
  font-size: 18px;
  line-height: 1.5;
}

h6 {
  font-size: 15px;
  line-height: 1.6;
}

@media (min-width: 550px) {
  h1 { font-size: 50px; }
  h2 { font-size: 42px; }
  h3 { font-size: 36px; }
  h4 { font-size: 30px; }
  h5 { font-size: 24px; }
}

p {
  margin-top: 0;
  margin-bottom: 25px;
  word-break: break-word;
  // font-size: 1.1em;
}


/* Links
-------------------------------------------------- */
a {
  color: $primary-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* Lists
-------------------------------------------------- */
ul {
  list-style: disc inside;
  -webkit-padding-start: 0;
}

ol {
  list-style: decimal inside;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 25px;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 15px 0 15px 30px;
}

.entry-content ol ol,
.entry-content ul ul {
  margin-bottom: 0;
}


li {
  margin-bottom: 10px;
}


/* Tables
-------------------------------------------------- */
table {
  margin-bottom: 25px;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1;
}


/* Quotes
-------------------------------------------------- */
blockquote {
  max-width: 680px;
  margin: 16px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 40px;
  border-left: 5px solid #e5e5e5;
}
@media (min-width: 19em) {
  blockquote {
    padding-right: 60px;
  }
}

blockquote::before {
  position: relative;
  left: -20px;
  top: -10px;
  content: "“";
  display: block;
  font-size: 40px;
  height: 0;
}

blockquote p {
  padding: 0 !important;
}

blockquote p:last-child {
  margin-bottom: 0;
}

blockquote,
blockquote::before,
blockquote p {
  color: #555;
}
