.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  display: inline-block;
  padding: 8px 24px;
  color: #fff;
  text-align: center;
  background: $primary-color;
  border: 2px solid $primary-color;
  font-size: 18px;
  font-weight: 300;
  font-family: $secondary-font-family;
  line-height: 38px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
}

.button,
button {
  margin-bottom: 10px;
}

.button.clear,
input[type='submit'].clear {
  background-color: transparent;
  border: 2px solid $header-background-color;
  color: $header-background-color;
}

.button.clear:hover,
input[type='submit'].clear {
  background-color: $header-background-color;
  border: 2px solid $header-background-color;
  color: $header-text-color;
  text-decoration: none;
}

.button.white-background:hover,
input[type='submit'].white-background:hover {
  color: $primary-color;
}

.button:hover,
button:hover,
input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover,
.button:focus,
button:focus,
input[type='submit']:focus,
input[type='reset']:focus,
input[type='button']:focus {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}
