.form-contact {
  max-width: 760px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;

  .required {
    color: #b50000;
  }

}

.form-nea {
  max-width: 760px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
  @media (min-width: 550px) {
    display: flex;
    align-items: center;
  }

  .email {
    width: 100%;
    margin-bottom: .571em;
    padding: .73em;
    @media (min-width: 550px) {
      margin-right: .571em;
      margin-bottom: 0;
    }
  }

  .button {
    width: 100%;
    margin-bottom: 0;
    @media (min-width: 550px) {
      max-width: 12.4em;
    }
  }

}

form {
  margin-bottom: 25px;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  // height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  // border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}

textarea {
  min-height: 92px;
}

input,
select {
  margin-bottom: $spacer;
}

label {
  display: block;
}

.label-more p {
  margin-bottom: 0;
  padding: 0 !important;
  font-size: smaller;
}
