.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

// Legacy column
.column {
  float: left;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.one-half,
.one-third,
.one-fourth {
  position: relative;
  width: 100%;
}

.one-half,
.one-fourth {
  @media (min-width: 550px) {
    flex: 0 0 calc((100% - 24px) / 2);
    max-width: calc((100% - 24px) / 2);
  }
}

.one-third {
  @media (min-width: 750px) {
    flex: 0 0 calc((100% - 48px) / 3);
    max-width: calc((100% - 48px) / 3);
  }
}

.one-fourth {
  @media (min-width: 1000px) {
    flex: 0 0 calc((100% - 72px) / 4);
    max-width: calc((100% - 72px) / 4);
  }
}
